{%load static%}
<footer class="pt-5 " style="background-color:black;color:white;">
  <div class="container pt-5 border-bottom">
    <div class="row">
        <div class="col-md-3 col-sm-12 mb-3 text-center">
            <img src ="{%static 'img/svg/bidaow.svg'%}" height="100px">
              </div>
      <div class="col-md-9 col-sm-12">

        <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3">
          <h5 class="mb-4 font-weight-bold text-uppercase">Quicklinks</h5>
        <ul class="list-group">
          <li class="list-group-item bg-transparent border-0 p-0 mb-2 text-muted"><a class="text-muted" href=/>Home</a></li>
          <li class="list-group-item bg-transparent border-0 p-0 mb-2 text-muted"><a class="text-muted" href=/>Search</a></li>
        </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-6 p-0 mb-3 float-left">
          <h5 class="mb-4 font-weight-bold text-uppercase">Legal</h5>
        <ul class="list-group">
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a class="text-muted" href="/">Privacy Policy</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a class="text-muted" href="/">Terms</a></li>
        </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left">
          <h5 class="mb-4 font-weight-bold text-uppercase">Company</h5>
        <ul class="list-group">
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a class="text-muted" href="/"></i>About</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a class="text-muted" href=/></i> Blog</a></li>
        </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left">
          <h5 class="mb-4 font-weight-bold text-uppercase">Social</h5>
        <ul class="list-group">
          <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a class="text-muted" href="/"><i class="fab fa-linkedin"></i> LinkedIn</a>
          </li>
          <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a class="text-muted" href="/"><i class="fab fa-twitter-square"></i> Twitter</a>       
          </li class="list-group-item bg-transparent border-0 p-0 mb-2">
          <li class="list-group-item bg-transparent border-0 p-0 mb-2"> 
              <a class="text-muted" href="/"><i class="fab fa-reddit-square"></i> Reddit</a>
          </li>
          <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a class="text-muted" href="/" target="_blank"><i class="fab fa-google-plus-square"></i> Google+</a>
            
          </li>
          <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a class="text-muted" href="/" target="_blank"><i class="fab fa-github-square"></i> Github</a>  
          </li>
         
        </ul>
        </div>

      </div>
        <div class="col-md-12">
          <div class="py-4 d-flex justify-content-center align-items-center">
              <a class="text-muted" class="mr-4" href="/">Privacy</a>
              <a class="text-muted ml-3" href="/"> Terms</a>
          </div>
        </div>
    </div>
  </div>
</footer>
