<div id="header" class="nav-colored">
  <div id="rowheader" class="row vertical-center">

    <div id="top-brand" class="mr-5 ml-2" style="margin-top:0;"><a href="/">
      <div class="logo-animated">
        <img src="/static/img/svg/bidaow.svg" width="130px" height="48px;">
      </div>
    </a></div>

    <div id="right-menu">
      <div id="search-wrapper" class="float-right">
        <form autocomplete="off" action="/search_games" method="get" id="search-navbar-form" class="float-right">
	  <div class="autocomplete" style="width:300px;">
	    <input id="search-navbar" type="text" placeholder="Search..." name="query">
	  </div>
	  <button id="search-navbar-button" type="submit" value="Search" class="button"><i class="fas fa-search"></i></button>
	</form>
      </div>

        </div>
        </div>
</div>